---
import "../styles/base.css"
import SpeedInsights from '@vercel/speed-insights/astro';
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo-black.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
    <title>David Siregar</title>
    <SpeedInsights />
	</head>
  <body class="bg-white dark:bg-black">
    <section
      class="w-full py-12 md:py-24 lg:py-32 flex items-center justify-center"
    >
      <div class="container px-4 md:px-6 text-center">
        <div class="flex flex-col justify-center space-y-4 items-center">
          <img
            alt="Logo"
            class="rounded-none mb-4 aspect-square"
            height="100"
            src="/logo-black.svg"
            width="100"
          />
          <div class="space-y-2">
            <h1
              class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none text-black dark:text-white"
            >
              David Siregar
            </h1>
            <p
              class="max-w-[600px] text-gray-500 dark:text-gray-400 md:text-xl mx-auto"
            >
              Softwareentwicklung, IT-Dienstleistungen, DevOps, Website-Design,
              Machine Learning, Dualer Student bei SAP
            </p>
          </div>
          <div class="flex flex-wrap gap-2 justify-center">
            <p
              class="inline-flex h-10 items-center justify-center rounded-md border border-zinc-200 bg-white px-8 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-zinc-950 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-700 dark:bg-black dark:focus-visible:ring-gray-500 dark:text-gray-200"
            >
              E-Mail: david@siregar.me
            </p>
            <a
              class="inline-flex h-10 items-center justify-center rounded-md bg-zinc-900 px-8 text-sm font-medium text-zinc-50 shadow transition-colors hover:bg-zinc-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-zinc-950 disabled:pointer-events-none disabled:opacity-50 dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-zinc-50/90 dark:focus-visible:ring-zinc-300"
              href="https://go.datti.to/linkedin"
              rel="noopener noreferrer"
            >
              LinkedIn
            </a>
            <a
              class="inline-flex h-10 items-center justify-center rounded-md bg-zinc-900 px-8 text-sm font-medium text-zinc-50 shadow transition-colors hover:bg-zinc-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-zinc-950 disabled:pointer-events-none disabled:opacity-50 dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-zinc-50/90 dark:focus-visible:ring-zinc-300"
              href="https://go.datti.to/github"
              rel="noopener noreferrer"
            >
              GitHub
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
